.form-container {
    min-height: 50vh;
    padding: 2rem;
    display: grid;
    place-content: center;
    justify-items: center;
    gap: 1rem;
}

.form {
    width: min(100%, 42rem);
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
}

.status-container {
    width: min(calc(100% - 2rem), 42rem);
    margin: 0 auto;
}

.status-container p {
    margin: 0;
}

.result-container {
    margin: 1rem
}

@media (max-width: 500px) {
    .form {
        grid-template-columns: 1fr;
    }
}